
@media (max-width:1024px) {
	header {
		padding-bottom: 0;
		.header {
			display: flex;
			flex-direction: column;
			&__menu-container {
				height: 130px;
			}
			&__menu {
				display: none;
			}
				&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			position: relative;
			&::before{
				content: "";
				background-color: white;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				top: 0;
			}
			&:after{
				content: "";
				background-color: white;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				bottom: 0;
				}
				& span {
					position: absolute;
					background-color: white;
					left: 0;
					top: 0;
					width: 100%;
					height: 2px;
					top: 9px;
				}
			}
		}
	
		.banner__container {
			flex-direction: column;
			justify-content: center;
			height: 525px;
			.picture {
				max-width: 700px;
				& img {
					width: 100%;
					object-fit: fill;
				}
			}

			.banner__text {
			padding-top: 70px;
			max-width: 500px;
				&__title {
					font-size: 50px;
					line-height: 90px;
					margin-bottom: 25px;
				}
				&__subtitle {
					font-size: 24px;
					line-height: 38px;
					margin-bottom: 50px;
				}
				&__button {
					padding: 25px 45px;
					font-size: 20px;
				line-height: 23px;
				}
			}
		}
		.banner__navigation {
			align-self: center;
			position: static;
			align-self: flex-end;
		}
	}
	.tour {
		&__container {	
			max-width: 1024px;
			padding: 60px 15px;
		}
		&__title {
			font-size: 50px;
			line-height: 75px;
			padding-bottom: 25px;
		}
		&__items {
			grid-template-columns:  repeat(auto-fit, minmax(330px, 1fr));
		}
		
		.tour__item {
			padding-top: 60px 15px;
			max-width: 330px;
				&__title {
				padding-top: 25px;
				font-size: 28px;
				line-height: 31px;

			}
			&__line {
				max-width: 150px;
			}
			&__subtitle {
				font-size: 16px;
				line-height: 19px;
			}
		}
		.tour__item img{
			width: 100%;
			object-fit: cover;
		}
	}
	.explore {
		&__container{
			max-width: 1470px;
			margin: 0 auto;
			padding: 60px 15px;
			display: flex;
			flex-direction: column;
		}
		&__text {
			max-width: 984px;
			margin-bottom: 60px;
		}
		&__text__title {
			font-size: 50px;
			line-height: 75px;
			letter-spacing: 5px;
		}
		&__text__line {
			max-width: 984px;
			margin-bottom: 60px;
		}
		&__text__subtitle {
			font-size: 20px;
			line-height: 38px;
		}
		&__text__subtitle p:last-child {
			display: none;


		}
		&__text__subtitle p {
			margin: 0;
		}
	}
	.journey {
		&__container {
			max-width: 1024px;
			padding: 60px 15px;
		}
			&__text {
			margin-bottom: 40px;
			padding: 0;
			}
			&__title {
				font-size: 50px;
				line-height: 75px;
			}
			&__subtitle {
			display: none;
			}
		
			&__secondaryvideo {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
				gap: 41px;
			}
		
			.secondaryvideo {
				position: relative;
			}
			.journey__secondaryvideo iframe {
				position: absolute;
				top: 0;
				left: 0;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
	}
	.gallery {
		&__container{
			height: 1600px;
			max-width: 1024px;
			padding: 60px 15px;
		}
		&__title {
			font-size: 50px;
			line-height: 75px;
			padding-bottom: 60px;
		}
		&__img{
			grid-template-columns:  repeat(auto-fit, minmax(304px, 1fr));
			column-gap: 25px;

		}
		&__img div {
			width: 304px;
		}
	}
	.form {
		max-width: 1024px;
		padding: 60px 15px;
		&__title{
			font-size: 50px;
			line-height: 75px;
		}


		.form__buy {
			&__img {
				max-width: 700px; 
			}
		}
	
		.form__tickets {
			max-width: 690px;
			display: flex;
			justify-content: space-between;
			padding-left: 15px;
		}
		.form__radio{
			display: none;
		}
	}
	.contacts {
		&__container {
			padding: 60px 15px;
		}
		&__title{
			font-size: 50px;
			line-height: 75px;
		}
		&__line {

			margin-bottom: 60px;
			}
			&__body {
				margin-top: 60px;
			}
	
			&__text h2 {
				font-size: 24px;
				line-height: 28px;
			}
	
			&__text p {

				font-size: 20px;
				line-height: 23px;

			}
			&__map {
				max-width: 694px;
				margin-bottom: 60px;
			}

	}
	footer {
		background: $black;
		.footer__navigation{
			border-bottom: 3px solid #666666;
			&__container {
				padding: 65px 15px 50px 15px;
			}
		}
	}
}




