@import '../sass/nulstyle.scss';

$black: #030303;
$red: #710707;
$gold: #9d8665;
/* ============header=============== */
header {
	width: 100%;
	color: white;
	background-color: $black;
	padding-bottom: 60px;
}

.header {
	position: relative;
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
	&__banner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.header__menu-container {
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-family: 'Forum';
	font-weight: 400;
	font-size: 28px;
	line-height: 31px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #FFFFFF;
	position: relative;
	padding-left: 75px;
	z-index: 1;
	&::before {
		content: "";
		background: url(../assets/logo.png) no-repeat;
		color: #FFFFFF;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index:55;
	}
}

.header__menu {
	max-width: 776px;
	display: flex;
	justify-content: space-between;
	&__list {
		padding-left: 55px;
		font-family: 'Roboto';
		font-weight: 100;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 2px;
		color: #FFFFFF;
		}
}

.header__burger {
	display: none;
}

.banner__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 750px;
	position: relative;
}

.picture {
	max-width: 1000px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.picture img {
	width: 100%;
	object-fit: cover;
}

.banner {
	padding-top: 150px;
	max-width: 600px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	&__title {
		font-family: 'Forum';
		font-weight: 400;
		font-size: 80px;
		line-height: 90px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-bottom: 25px;
		}
	&__subtitle {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 28px;
		line-height: 33px;
		letter-spacing: 2px;
		color: #FFFFFF;
		margin-bottom: 75px;
	}
	&__button {
		padding: 25px 64px;
		background: $red;
		border-radius: 10px;
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 2px;
		color: #FFFFFF;
		}
}

.banner__navigation {
	padding: 15px 55px;
	max-width: 600px; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	line-height: 40px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: $black;
	position: absolute;
	right: 10px;
	bottom: -60px;
	height: 120px;
	z-index: 4;
	&__pages {
		display: flex;
		max-width: 75px;
	}
	&__page1, &__page2 {
		padding-right: 10px ;
	}
	&__page2 {
		padding-left: 10px ;
		border-left: 1px solid white;
	}
	&__dots {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 55px;
	}
	&__dot {
		width: 16px;
		height: 16px;
		left: 646px;
		top: 742px;
		background: #FFFFFF;
		margin: 0 15px;
	}
	&__item {
		height: inherit;
		display: flex;
		align-items: center;
	}
	&__previous {
		width: 30px;
		height: 8px;
		background: url(../assets/previous.png) no-repeat;
	}
	&__next{
		width: 30px;
		height: 8px;
		background: url(../assets/next.png) no-repeat;
		margin-left: 20px;
	}
}

/* ============================Visual tour================= */
.tour {
	&__container {	
		max-width: 1470px;
		margin: 0 auto;
		padding: 75px 15px;
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: 'Forum';
		font-weight: 400;
		font-size: 80px;
		line-height: 90px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: $gold;
		padding-bottom: 25px;
	}
	&__line {
		max-width: 1470px;
		height: 3px;
		background: $red;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.tour__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 75px;
	max-width: 440px;
		&__title {
		flex-shrink: 1;
		padding-top: 25px;
		font-family: 'Forum';
		font-weight: 400;
		font-size: 32px;
		line-height: 35px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #000000;
	}

	&__line {
		margin-top: 10px;
		max-width: 300px;
		height: 2px;
		background: $red;
		border-radius: 0px;
	}
	&__subtitle {
		padding-top: 10px;
		font-family: 'Roboto';
		font-weight: 100;
		font-size: 22px;
		line-height: 26px;
		color: $black;
	}
}
.tour__item img{
	width: 100%;
	object-fit: cover;
}

.explore {
	background-color: $black;
	color: white;
	&__container{
		max-width: 1470px;
		margin: 0 auto;
		padding: 75px 15px;
		display: flex;
		justify-content: space-between;
	}
	&__text {
		max-width: 660px;
	}
	&__text__title {
		font-family: 'Forum';
		font-weight: 400;
		font-size: 80px;
		line-height: 90px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-bottom: 25px;
	}
	&__text__line {
		max-width: 660px;
		height: 3px;
		background: $red;
		border-radius: 0px;
		margin-bottom: 75px;
	}
	&__text__subtitle {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 22px;
		line-height: 38px;
		color: #FFFFFF;
	}
	&__text__subtitle p {
		margin-bottom: 25px;
	}
}

.explore__img {
	max-width: 720px;
	position: relative;
	z-index: 6;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background: url(../assets/explore_2.png) no-repeat;
		width: 100%;
		height: 100%;
		z-index: 55;
		max-width: 720px;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 420px;
		background: url(../assets/explore_slider.png) no-repeat;
		width: 100%;
		height: 100%;
		z-index: 55;
		max-width: 720px;
	}
	
}

.explore__img img {
	width: 100%;
	object-fit: cover;
}

.journey__container {
	max-width: 1470px;
	margin: 0 auto;
	padding: 75px 15px;
}
	.journey__text {

		display: flex;
		justify-content: space-between;
		padding-bottom: 75px;
	}
	.journey__title {
		max-width: 605px;
		font-family: 'Forum';
		font-weight: 400;
		font-size: 80px;
		line-height: 90px;
		text-transform: uppercase;
		color: $gold;
	}
	.journey__subtitle {
		max-width: 720px;
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 22px;
		display: flex;
		align-items: center;
		color: #000000;
	}

	.journey__mainvideo {
		align-self: center;
		max-width: 1440px;
		height: 750px;
		margin-bottom: 45px;
	}
	.journey__mainvideo iframe {
		height: 100%;
		width: 100%;
	}

	.journey__secondaryvideo {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 254px;
		gap: 42px;
	}

	.secondaryvideo {
		display: block;
		width: 452px;
		height: 254px;

	}
	.journey__secondaryvideo iframe {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}


	.video__navigation {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		&__dot {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #999999;
		margin: 0px 10px;
		}
	}


	.form {
		max-width: 1470px;
		margin: 0 auto;
		padding: 75px 15px;
		&__title{
			font-family: 'Forum';
			font-weight: 400;
			font-size: 80px;
			line-height: 90px;
			letter-spacing: 5px;
			text-transform: uppercase;
			color: #9D8665;
		}
		&__line {
			margin-top: 10px;
			margin-bottom: 75px;
			max-width: 1470px;
			height: 2px;
			background: $red;
			border-radius: 0px;
			}
		}

		.form__buy {
			display: flex ;
			justify-content: space-between;
			&__img {
				max-width: 720px; 
			}
			&__img img {
				width: 100%; 
				object-fit: cover;
			}
		}
	
.form__tickets {
	max-width: 690px;
	display: flex;
	justify-content: space-between;
	padding-left: 15px;
}
.form__radio__radio {
	margin-bottom: 25px;
}

.checkbox__label {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	color: #000000;
}
.form__radio__title, .form__amount__title {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	color: #000000;
}

.form__amount {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.form__radio__title  {
	margin-bottom: 50px;
}

.form__amount__title  {
	align-self: flex-end;
	margin-bottom: 25px;
}
.checkbox {
	position: relative;
}

.checkbox__input {
display: none;
}
.checkbox__label {
	padding: 8px 245px 0 45px;
	position: relative;

}
.checkbox__label::before {
	content: "";
	position: absolute;
	z-index: 3;
	top: 14px;
	left: 0;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	border: 2px solid #000000;
	box-sizing: border-box;
} 
.checkbox__label::after{
	content: "";
	position: absolute;
	z-index: 4;
	width: 7px;
	height: 7px;
	left: 5px;
	top: 19px;
	border-radius: 50%;
	background: #000000;
		opacity: 0;
}

.checkbox__input:checked + .checkbox__label::after {
	opacity: 1;
}

.form__amount__age18,
.form__amount__age65 {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	color: #000000;

	
}

.form__amount__col {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	border: 3px solid #000000;
	box-sizing: border-box;
	border-radius: 0px;
	position: relative;
	margin-bottom: 20px;
}

.form__amount__col::before {
	content: "";
	background: url(../assets/minus.png) no-repeat;
	top: 24px;
	left: 10px;
	width: 38px;
	height: 38px;
	position: absolute;
}

.form__amount__col::after {
	content: "";
	background: url(../assets/plus.png) no-repeat;
	top: 15px;
	right: -10px;
	width: 38px;
	height: 38px;
	position: absolute;
}

.form__amount__price {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 28px;
	line-height: 33px;
	letter-spacing: 1.65px;
	color: #000000;
	margin-top: 50px ;
}

.form__amount_button {
	margin-top: 60px ;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	left: 0px;
	top: 0px;
	background: #000000;
	border-radius: 2px;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	color: #FFFFFF;
	padding: 0 15px;
}



























@media (max-width:1024px) {
	.header {
		display: flex;
		flex-direction: column;
	}
	.header__menu-container {
		height: 130px;
	}
	.header__menu {
		display: none;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
		&::before{
			content: "";
			background-color: white;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
		}
		&:after{
			content: "";
			background-color: white;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
		}
	}

	.header__burger span {
		position: absolute;
		background-color: white;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
	}

	.banner__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 525px;
		position: relative;
	}
	
	.picture {
		max-width: 700px;
	}
	.picture img {
		width: 100%;
		object-fit: fill;
	}
	
	.banner {
		padding-top: 70px;
		max-width: 500px;
		&__title {
			font-size: 50px;
			line-height: 90px;
			margin-bottom: 25px;

			}
		&__subtitle {
			font-size: 24px;
			line-height: 38px;
			margin-bottom: 50px;
		}
		&__button {
			padding: 25px 45px;
			font-size: 20px;
			line-height: 23px;
			}
	}

	.banner__navigation {
		align-self: center;
		position: static;
	}
	/* ============================Visual tour================= */

	.tour__item {
		padding-top: 75px;
		max-width: 335px;
				&__title {

		font-size: 27px;
		line-height: 31px;
		}
		
		&__line {
		margin-top: 10px;
		max-width: 300px;
		height: 2px;
		background: $red;
		border-radius: 0px;
		}
		&__subtitle {
		padding-top: 10px;
		font-size: 20px;
		line-height: 23px;
		}
}
/* =============================explore========== */
.explore {
	background-color: $black;
	color: white;
	&__container{
		max-width: 1024px;
		margin: 0 auto;
		padding: 75px 15px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&__text {
		max-width: 984px;
	}
	&__text__title {
		font-family: 'Forum';
		font-weight: 400;
		font-size: 50px;
		line-height: 75px;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-bottom: 25px;
	}
	&__text__line {
		max-width: 984px;
		height: 3px;
		background: $red;
		border-radius: 0px;
		margin-bottom: 35px;
	}
	&__text__subtitle {
		font-family: 'Roboto';
		font-weight: 300;
		font-size: 20px;
		line-height: 38px;
		color: #FFFFFF;
	}
	&__text__subtitle p {
		margin-bottom: 0px;
	}

}

.explore__img {
	margin-top: 55px;
	max-width: 720px;
	position: relative;
	z-index: 6;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background: url(../assets/explore_2.png) no-repeat;
		width: 100%;
		height: 100%;
		z-index: 55;
		max-width: 720px;
	}
	&::after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 0;
		left: 420px;
		background: url(../assets/explore_slider.png) no-repeat;
		width: 40px;
		height: 100%;
		z-index: 55;
		max-width: 720px;
	}
}
}

@media (max-width:768px) {
	.banner__container {
		max-width: 768px;
		display: flex;
		position: relative;
		height: 728px;
	}
	
	.picture {
		max-width: 728px;
		position: relative;
		top: 0;
		left: 0px;
	}
	
		.banner {
		justify-content: center;
		padding-top: 0px;
		max-width: 508px;
		position: static;
		z-index: 3;
		text-align: center;

		&__title {
			font-size: 40px;
			line-height: 60px;
			margin-bottom: 0px;
			}
		&__subtitle {
			font-size: 28px;
			line-height: 33px;
			margin-bottom: 35px;
		}

		&__button {
		display: none;
			}
	}
	
	.banner__navigation {
		padding: 0;
		max-width: 420px;
		align-self: center;
		position: static;
	
		&__pages {
			display: flex;
			max-width: 75px;
		}
	
		&__page1, &__page2 {
			padding-right: 10px ;
		}
	
		&__page2 {
			padding-left: 10px ;
			border-left: 1px solid white;
		}
	
		&__dots {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 45px;
		}
	
		&__dot {
			width: 12px;
			height: 12px;
			background: #FFFFFF;
			margin: 0 10px;
		}
		&__item {
			height: inherit;
			display: flex;
			align-items: center;
		}
	
		&__previous {
			width: 30px;
			height: 8px;
			background: url(../assets/previous.png) no-repeat;
		}
	
		&__next{
			width: 30px;
			height: 8px;
			background: url(../assets/next.png) no-repeat;
			margin-left: 15px;
		}

		.header {
			position: relative;
			max-width: 1470px;
			margin: 0 auto;

		}
	}
	/* ============================Visual tour================= */
	.tour__item {
		padding-top: 75px;
		max-width: 280px;
		margin: 0 35px;
		&__title {

		font-size: 27px;
		line-height: 31px;
		}
		
		&__line {
		margin-top: 10px;
		max-width: 300px;
		height: 2px;
		background: $red;
		border-radius: 0px;
		}
		&__subtitle {
		padding-top: 10px;
		font-size: 20px;
		line-height: 23px;
		}
}
}




















